    <footer class="footer bg-darkgreen text-white uppercase">
      <div class="max-w-[1440px] min-w-[1440px] pt-[50px] px-[75px] pb-[66px] mx-auto">

        <div class="logos flex items-center justify-between mb-[50px]">

          <div class="left-part flex gap-[50px]">
            <img src="/svgs/logo-white.png" alt="Логотип" class="w-[87px] h-[57px]">
            <img src="/svgs/logo-another.svg" alt="Логотип Другой" class="w-[165px] h-[38px]">
          </div>

          <div class="right-part flex gap-[7px]">
            <a href="#">
              <img src="/svgs/instagram.svg" alt="Instagram" class="w-[25px] h-[25px]">
            </a>
            <a href="#">
              <img src="/svgs/facebook.svg" alt="Facebook" class="w-[25px] h-[25px]">
            </a>
            <a href="#">
              <img src="/svgs/x.svg" alt="X" class="w-[20px] h-[22px]">
            </a>
            <a href="#">
              <img src="/svgs/whatsapp.svg" alt="Whatsapp" class="w-[25px] h-[25px]">
            </a>
          </div>

        </div>

        <div class="columns flex justify-between">

          <div class="column1 font-light min-w-[300px]">
            <p class="mb-2">Контакты</p>
            <div class="h-[1px] w-[380px] bg-white mb-[20px]"></div>
            <ul class="flex flex-col gap-[25px] text-sm">
              <li class="hotline-line flex flex-row gap-[40px]">
                <p class="text-left w-[88px]">Телефон</p>
                <p class="font-medium text-left w-[238px]">124 465 78 99</p>
              </li>
              <li class="email-line flex flex-row gap-[40px]">
                <p class="text-left w-[88px]">E-mail</p>
                <p class="font-medium text-left w-[238px]">SOME_BY_MI@GMAIL.COM</p>
              </li>
              <li class="instagram-line flex flex-row gap-[40px]">
                <p class="text-left w-[88px]">INSTAGRAM</p>
                <p class="font-medium text-left w-[238px]">@SOME_BY_MI_OFFICIAL</p>
              </li>
              <li class="address-line flex flex-row gap-[40px]">
                <p class="text-left w-[88px]">Postal address</p>
                <p class="font-medium text-left w-[238px]">XX Hannam-ro XXbeon-gil, Daedeok-gu, Daejeon, south koreA</p>
              </li>
            </ul>
          </div>

          <div class="column2 font-medium min-w-[300px]">
            <p class="font-light mb-2">F A & Q</p>
            <div class="h-[1px] w-[380px] bg-white mb-[20px]"></div>
            <ul class="flex flex-col gap-[25px] text-sm">
              <li>
                <a href="#" class="hover:text-hoverw">Personal data processing policy</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">Website documents</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">Order & delivery</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">Purchase returns</a>
              </li>
            </ul>
          </div>

          <div class="column3 font-medium min-w-[300px]">
            <p class="font-light mb-2">Сотрудничество</p>
            <div class="h-[1px] w-[380px] bg-white mb-[20px]"></div>
            <ul class="flex flex-col gap-[25px] text-sm">
              <li>
                <a href="#" class="hover:text-hoverw">Vacancies</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">The Development centre</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">Marketing and Advertising Department</a>
              </li>
              <li>
                <a href="#" class="hover:text-hoverw">Purchasing department</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="bottom relative mt-[50px] text-xs font-light h-[1.5em]">

          <p class="absolute left-1/2 -translate-x-1/2">site created by Zayana_B, redesign concept by Anastasia_I</p>
          <p class="absolute right-0">&copy; 2025 some by mi</p>

        </div>

        <script src="/js/auth.js" defer></script>
      </div>
    </footer>
  </body>
</html>
