<header class="header bg-white">
  <nav class="hidden lg:flex justify-between items-center pt-[33px] px-[75px] mx-auto text-lg text-black font-light max-w-[1440px]">
    <div class="flex flex-wrap gap-[clamp(15px,2.5vw,35px)] items-center">
      <a href="/">
        <img src="/svgs/logo-black.png" alt="Логотип" class="w-[72px] h-[47px]">
      </a>
      <a href="/products" class="hover:text-dark uppercase">Каталог</a>
      <a href="/skincare" class="hover:text-dark uppercase">Skincare</a>
      <a href="/about" class="hover:text-dark uppercase">О нас</a>
    </div>
    <div class="flex-1"></div>
    <div class="flex gap-[clamp(10px,2vw,35px)]">
      <% if (typeof customer !== 'undefined') { %>
        <a href="/account" class="hover:text-dark">
          <span><%= customer.username %></span>
        </a>
        <a href="/cart" class="hover:text-dark uppercase cart-link">Корзина (<%= cartItemCount %>)</a>
      <% } else { %>
        <button id="authPopupBtn" class="auth-btn hover:text-dark uppercase underline">Профиль</button>
        <button id="cartPopupBtn" class="auth-btn hover:text-dark uppercase">Корзина</button>
      <% } %>
    </div>
  </nav>
  <%- include('../partials/auth-popup') %>
</header>
