{
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "tabWidth": 2,
        "printWidth": 160,
        "useTabs": false,
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
