<%- include('../partials/head', { title: 'Главная' }) %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <p>Лучшие косметические продукты по доступным ценам.</p>
    </main>

<%- include('../partials/footer') %>
