<%- include('../partials/head') %>
<body class="bg-dark font-raleway">
  <%- include('../partials/header') %>
  <main class="content">
    <h1 class="hidden text-white">SOME BY MI</h1>
    <section class="main bg-white text-black">
      <div class="max-w-[1440px] mx-auto px-[75px]">
        <p class="command-line text-base font-medium opacity-[.61] pt-[67px]">
          <a href="/" class="hover:text-dark">. .</a> /
          <span class="underline">О нас</span>
        </p>
      </div>
      <div class="flex flex-row max-w-[1440px] w-full px-[75px] mx-auto pt-[75px] pb-[105px]">
        <div class="column1 w-[345px] mr-[51px]">
          <h2 class="font-medium text-left text-4xl uppercase">Take care of yourself</h2>
          <p class="font-light mt-[15px] text-2xl">
            Хорошая кожа — это не только ДНК. Ежедневные привычки сильно влияют на ваш облик. Обзоры продуктов и консультации врачей: мнения могут быть
            ошеломляюще разными.
          </p>
          <p class="font-light mt-[20px] text-2xl">
            Одни эксперты верят в натуральную косметику, другие настаивают на только проверенных временем разработках. В магазинах вы сталкиваетесь с яркими
            кремами и пилингами, сулящими чудесное преображение.
          </p>
        </div>
        <div class="column2 w-[539px] mr-[83px]">
          <img src="/images/about.png" alt="about" class="w-[539px] h-[657px] object-cover" />
        </div>
        <div class="column3 w-[270px] text-2xl font-light">
          <p>Однако из-за обилия разной информации о действительно полезных вещах разобраться в лабиринте советов и рекомендаций бывает непросто.</p>
          <p class="mt-[24px]">Так где же правда? Как отличить полезные продукты от уловок?</p>
          <p class="mt-[24px]">
            Ответ на этот вопрос может потребовать много времени и усилий. Но не отчаивайтесь! Продукты Some By Mi улучшат состояние вашей кожи и подарят ей
            сияние.
          </p>
        </div>
      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>
