<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head', { title: 'Главная' }) %>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <p>Лучшие косметические продукты по доступным ценам.</p>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
