<%- include('../partials/head', { title: title }) %>
  <body class="bg-dark font-raleway">
    <%- include('../partials/header') %>
    <main class="content">
      <h1 class="hidden text-white">SOME BY MI</h1>
      <%- include('../partials/products') %>
    </main>
<%- include('../partials/footer') %>
