<%- include('../partials/head', { title: 'Главная' }) %>
  <body class="bg-dark font-raleway">
    <%- include('../partials/header') %>
    <main class="content bg-white">
      <h1 class="hidden text-black">SOME BY MI</h1>
      <section class="examples px-[75px] pt-[75px] pb-[75px] mx-auto">
        <div class="w-[1290px] mx-auto">
          <h2 class="text-4xl font-light pb-[30px]">Design</h2>
          <img src="/images/style.svg" alt="style" class="object-cover w-[1290px]">
          <img src="/images/example.svg" alt="example" class="object-cover pt-[30px] w-[1290px]">
        </div>
      </section>
    </main>
<%- include('../partials/footer') %>
